@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
    font-size: 16px;
}

body {
    font-family: 'Jost', sans-serif;
    color: $gray;
    overflow-x: hidden;
}

.title {
    font-family: 'Cormorant', serif;
    font-size: 5rem;
    line-height: 5.3rem;
    span {
        font-style: italic;
    }
}

.btn {
    color: $white;
    background-color: $orange;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.3rem 2.68rem;
    border-radius: 2rem;
    letter-spacing: 0.075rem;
    box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
    transition: 0.2s ease;
    &:hover {
        background-color: $orangeHover;
    }
} 

.ml {
    margin-left: 7.62rem;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-main {
    background: url(../img/bg-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 200px;
    &__image {
        position: absolute;
    }
    &__tomato {
        right: 115px;
        bottom: 135px;
    }
    &__avocado {
        right: -10px;
        top: 45px;
    }
    &__cucumber {
        left: 35.5%;
        top: 0px;
    }
    &__pepper {
        left: 22px;
        top: 398px;
    }
    &__beans {
        left: -5px;
        bottom: 170px;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
        flex: 0 0 40%;
        &__description {
            font-size: 1.12rem;
            line-height: 1.5;
            margin-top: 3.68rem;
            margin-bottom: 4.75rem;
        }
    }
    &-visual {
        box-shadow: 0 0 0 22px transparent, 0 0 0 1px rgba($gray, $alpha);
        border-radius: 100%;
        padding: 55px;
        position: relative;
        &__image {
            border: 1px solid rgba($gray, $alpha);
            border-radius: 100%;
            padding: 21px;
            img {
                border-radius: 100%;
                box-shadow: 15px 48px 42px 0px rgba($gray, $alpha);
            }
        }
        &__btn {
            background-color: transparent;
            border: none;
            color: rgba($gray, 0.8);
            text-align: left;
            position: absolute;
            span {
                color: rgba($gray, 1);
                display: block;
                margin-top: 6px;
            }
            &::before {
                content: "";
                display: block;
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background-color: $gray;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $gray;
                position: absolute;
            }
            &:focus {
                outline: none;
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
        &__01 {
            left: 59px;
            top: 44px;
            &::before {
                top: 22px;
                left: 90px;
            }
        }
        &__02 {
            right: -2px;
            top: 191px;
            &::before {
                top: 18px;
                right: 94px;
            }
        }
        &__03 {
            right: 232px;
            bottom: -44px;
            &::before {
                bottom: 57px;
                right: 38px;
            }
        }
    }
}

.section-stock {
    background: url(../img/bg-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    &__text {
        font-size: 1.5rem;
        max-width: 690px;
        margin-top: 3.43rem;
        line-height: 1.5;
        margin-left: 6px;
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;

    &-item {
        border: 1px solid rgba($gray, $alpha);
        border-radius: 20px;
        flex: 0 0 32%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 520px;
        position: relative;
        padding: 2.75rem 2.25rem;
        box-sizing: border-box;
        box-shadow: 0 0 0 2px rgba($gray, 0);
        transition: 0.3s ease;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            transition: 0.3s ease;
        }
        &:hover::before {
            background-color: rgba($white, 0.55);
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($gray, $alpha);
        }
        &:hover {
            .slider-text {
                transform: translate(0, 0);
            }
        }
    }
    &-milk {
        background-image: url(../img/stock/milk.png);
    }
    &-pasta {
        background-image: url(../img/stock/pasta.png);
    }
    &-meat {
        background-image: url(../img/stock/steaks.png);
    }
    &-text {
        position: absolute;
        bottom: 2.75rem;
        left: 2.25rem;
        max-width: 58%;
        transform: translate(0, 243px);
        transition: 0.3s ease;

        &__title {
            font-size: 1.875rem;
            font-family: 'Cormorant', serif;
            margin-bottom: 26px;
        }
        &__description {
            color: rgba($gray, 0.7);
            margin-bottom: 41px;
            line-height: 1.5;
        }
        &__link {
            color: $gray;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.075rem;
            opacity: 0.8;
            position: relative;
            padding: 0 0 0 50px;
            transition: 0.3s ease;
            &:hover {
                opacity: 1;
                padding: 0 0 0 45px;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0px;
                top:calc(50% - 0.93rem);
                display: block;
                width: 1.875rem;
                height: 1.875rem;
                background-image: url(../img/plus.svg);
            }
        }
    }
}
